*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.container{
    display: flex;
    flex-direction: column;
}

.container-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 2rem;
    height: auto;
}

.container-2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin-bottom: 2rem;
}

.card{
    background-color: rgb(98, 168, 226);
    color: aliceblue;
    border-color: aliceblue;
}